<h1>Listing hclasses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hclasses.each do |hclass| %>
      <tr>
        <td><%= hclass.name %></td>
        <td><%= link_to 'Show', hclass %></td>
        <td><%= link_to 'Edit', edit_hclass_path(hclass) %></td>
        <td><%= link_to 'Destroy', hclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hclass', new_hclass_path %>
