<p id="notice"><%= notice %></p>

<p>
  <strong>Hclass:</strong>
  <%= @player.hclass %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @player.deck %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
