<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @card.type %>
</p>

<p>
  <strong>Hclass:</strong>
  <%= @card.hclass %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @card.cost %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
